body{
    display: flex;
    justify-content: center;
    background-color: azure;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display{
    box-sizing: border-box;
    background-color: rgb(227, 236, 236);
    height: 120px;
    width: auto;
    margin: 10px 10px 10px;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(158, 158, 158);
}

.prev-action{
    text-align: right;
    height: 47px;
}

.container{
    height: 770px;
    width: 530px;
    padding: 15px;
    background-color: #aaa;
    border-radius: 20px;
    border: 2px solid black;
}

.btn{
   font-size: 25px;
   height: 120px;
   width: 120px;
   margin: 5px;
   align-items: center;
   border-radius: 8px;
   border: 2px solid black;
}

.btn:hover,
.clear:hover,
.delete:hover{
    background-color: #e4e4e4;
}

.operator:hover{
    background-color: rgb(230, 167, 52)
}

.clear,
.delete{
    width: 250px;
    height: 100px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: 800;
    font-size: 18px;
}

.box{
    display: flex;
    justify-content: center;
}

.operator{
    background-color: rgb(243, 178, 56);
}